.chart rect { 
    fill: turquoise, pink; 
}

.chart text { 
    font: 10px sans-serif; 
}

.chart {
    background-color: #efefefbd;
}

.tooltip{
    position      : absolute;
    text-align    : center;
    max-width     : 70px;
    max-height    : 30px;
    padding       : 8px;
    border        : none;
    border-radius : 8px;
    margin-top    : -30px;
    font          : 10px sans-serif;
    background    : black;
    color         : white;
    pointer-events: none;
}

.axis path, .axis line {
    fill: none;
    stroke: #4e5a64;
    shape-rendering: crispEdges;
    }

.zeroY {
    transform: translate(32px, 0px);
}

.zeroX {
    transform: translate(16px, 0px);
}

.xLabel {
    text-anchor: end;
}

.yLabel {
    transform: translate(10px, 17px) rotate(-90deg) !important;
    /* transform: ; */
}

.axiss {
    background-color: red;
    color: firebrick;
    font-size: 100px;
}